.controle-esquerdo{
    width: 120px;
    height: 100%;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: #4EB9DB;
    z-index: 3;
    
}
.controle-esquerdo-animation{
    animation: animacontroleEsquerdo 2s ;
}
.borda-controle-esquerdo{
    position: absolute;
    top: 10px;
    width: 120px;
    height: 325px;
    left: 1px;
    border-left: 8px solid #046d8d;
    border-top: 3px solid #f2f2f2;
    border-bottom: 3px solid black;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    filter: blur(6px);
}
.controle-direito{
    width: 120px;
    height: 100%;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    background-color: #EE5E53;
    z-index: 1;
    
}
.controle-direito-animation{
    animation: animacontroleDireito 2s ;

}
.borda-controle-direito{
    position: absolute;
    width: 120px;
    height: 325px;
    left: -2px;
    top: 9px;
    border-right: 8px solid #94231b;
    border-top: 2px solid #f2f2f2;
    border-bottom: 3px solid #94231b;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    filter: blur(5px);
    z-index: 3;
}