@media screen and (max-width:1507px) {
    
    #result-pesquisa.active {
        width: 100%;
        padding-right: 0.5rem;
    }
    #list-pesquisa.active {
        width: 100%;
    }
    #result-list.active {
        width: 100%;
    }
    .container-cards{
       width: 100%;
    }
    .content {
        padding: 0 0.5rem;
    }
    #lupa {
        width: 100%;
    }
}

@media screen and (max-width:1320px) {
    .container-cards{
        gap: 20px;
    }   
}
@media screen and (max-width:1281px) {
    .card{
        width: 280px;
    }
}
@media screen and (max-width:1223px) {
    .card{
        width: 400px;
    }
}
@media screen and (max-width:1180px) {
    .imgCardModal img {
        width: 100%;
    }
    .modal .coluna01 {
        width: 100%;
    }

    .coluna01 .area-detalhe {
        width: 100%;
        padding: 1rem;
    }
    
}
@media screen and (max-width:1161px) {
    .container-cards {
        padding: -1rem 0rem 0rem 0.5rem;
        padding-right: 1rem;
    }
    .card{
        width: 100%;
    }
    
}
@media screen and (max-width:935px) {
    .detalhes p {
        width: 100%;
        padding: 0.2rem;
    }
    .detalhes {
        flex-direction: column;
    }
    .info p {
        font-size: 14px;
    }
}
@media screen and (max-width:860px) {
    .container-evolucao {
        width: 100%;
        gap: 10px;
    }
    .evolucao img {
        width: 100px;
    }
}
@media screen and (max-width:600px) {
    header{
        width: 0;
        position: fixed;
    }
    header.active{
        background-color: #FF4655;
    }
    #menu-lista li button:hover   {
        background-color: #FDFDFD;
        color: #FF4655;
    }
    #listaGeracao.active{
        height: 400px;
        background-color: transparent;
        border-bottom-left-radius:4px ;
        border-bottom-right-radius:4px ;
    }
    #menu-lista li button   {
        /* background-color: #FDFDFD; */
        color: #FDFDFD;
    }
    #geracoes li button{
        background-color: #FF4655;
        transition: all 200ms linear;
        cursor: pointer;
        color: #FDFDFD;
        border-radius: 0;
    }
    #lupa input{
        width: 100%;
        background-color: #f3f3f3;
        padding: 0 3rem 0.3rem;
        border: none;
        outline: none;
    }
    .content {
        width: 100%;
    }
    menu {
        display: block;
    }
}
