@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    overflow: hidden;
    height: 100vh;
    width: 100%;
}

.container,
.content {
    width: 100%;
    height: 100%;
}

.container {
    background-color: #000000d8;
    padding: 1rem;
}

.content {
    background-color: #262626;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px rgb(61, 65, 73);
    position: relative; 
}

.area-select-music {
    height: 100%;
    background-color: #202020;
    z-index: 1000;
}

.items {
    width: 400px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.5s;
}

.items::-webkit-scrollbar {
    width: 9px;
    background-color: #7676762c;
}

.items::-webkit-scrollbar-thumb {
    background-color: #454545;
    border-radius: 30px;
}

#item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    cursor: pointer;
    padding: 0.5rem;
    width: 350px;
}

#item:hover {
    background-color: #262626;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.item-img {
    width: 100px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.item-img img {
    width: 100px;
}

.item-titulos {
    font-family: 'Poppins';
}

.item-titulos h1 {
    color: #FDFDFD;
    font-size: 15px;
    flex-wrap: nowrap;
}

.item-titulos p {
    color: #7f7f7f;
    font-size: 12px;
    flex-wrap: nowrap;
}
.area {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.area-play {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#area-play-img {
    width: 800px;
    height: 400px;
    background-position: center, 100%;
    background-size: cover;
    border-radius: 10px;
}

.area-musica {
    padding: 1rem;
    width: calc(100% - 400px);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #2020209e;
}

.area-titulo {
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #7f7f7f;
    font-family: 'Poppins'; 
}


.area-duration {
    height: 50px;
    display: flex;
    align-items: center;
}

.duration {
    width: 800px;
}

.tempo-music {
    display: flex;
    justify-content: space-between;
    width: 800px;
}

.tempo-music p {
    color: #f1f1f1;
}

.barra {
    border: 1px solid rgba(63, 63, 63, 0.631);
    display: flex;
    align-items: center;
    border-radius: 20px;
    height: 6px;
    width: 800px;
    background-color: #454545;
}

.ponto {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #FDFDFD;
}

progress {
    width: 0;
    height: 6px;
}

.controls-play {
    padding: 2rem;
    height: 30px;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    background-color: #f1f1f1;
    border-radius: 30px;
}

.controls-play i {
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-align: center;
    color: #454545;
}
.controls-play i:hover{
    color: #262626;
}


.menu-card-play {
    width: 100%;
}

.icon-card-menu {
    display: flex;
    justify-content: end;
}

.icon-card-menu span {
    margin-right: 20px;
    font-size: 35px;
}

.icon-card-menu .para-baixo-menu-card-play {
    display: none;
}

#pauser {
    display: none;
}

.play-controls {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
.menu {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 20000;
}
.menu button { 
    align-items: center;
    justify-content: center; 
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: transparent;
}
.menu button span::before,
.menu button span::after {
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    border-top: 2px solid #FDFDFD;
}
.menu button span::after {
    margin-top: 3px;
}

@media screen and (max-width:1230px) {
    .items {
        width: 0px;
    }
    .area-musica {
        width: calc(100%);
        position: absolute;
    }
    .menu {
        display: flex;
    }
    .items.active {
        width: 400px;
    }
    
    
}
@media screen and (max-width:870px) {
    .area {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }
    .area-musica {
        padding: 1rem;
    }
    #area-play-img {
        width: 100%;
    }
    .barra {
        width: 100%;
    }
    .duration {
        width: 100%;
    }
    .tempo-music {
        width: 100%;
    }
    .controls-play {
        width: 100%;
    }
   
}
@media screen and (max-width:400px) {
    .container{
        padding: 0;
    }
    .content {
        border-radius: 0;
    }
}