.img_coll_02 {
    transform: translateY(200px);
    opacity: 0;
}
.img_coll_03{
    transform: translateY(200px);
    opacity: 0;
}
.img_coll_04{
    transform: translateY(200px);
    opacity: 0;
}
.img_coll_05{
    transform: translateY(200px);
    opacity: 0;
}
.img_coll_06{
    transform: translateY(200px);
    opacity: 0;   
}
.img_coll_07{
    transform: translateY(200px);
    opacity: 0;   
}
.img_coll_08{
    transform: translateY(200px);
    opacity: 0;   
}
.img_coll_09{
    transform: translateY(200px);
    opacity: 0;   
}