.topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2.5rem 0rem;
    padding: 0 5.8rem;
}

.logo a{
    color: #000;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 17px;
}
.lista-nav-pai {
    display: flex;
    gap: 50px;
}
.lista-nav-filho {
    display: flex;
    gap: 30px;
}
.lista-nav-filho a {
    color: #000;
    text-transform: capitalize;
    font-size: 15px;
}
#buttom-menu {
    display: none
}