.container-topo {
    display: flex;
    align-content: center;
    justify-content: center;
}
.content-topo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem;
}
.lista-nav {
    display: flex;
    align-items: center;
    gap: 30px;
}
.logo , .logo a{
    text-transform: uppercase;
    color: #000;
    font-weight: 500;
}