@import url('header.css');
@import url('main.css');
@import url('mobile.css');
@import url('animation.css');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

body {
    background-color: #FFFFFF;
}



