@media screen  and (max-width: 1190px){
    header nav .menu{
        display: none;
    }
    header nav .menu ul,
    header nav .area-acout ul li:nth-child(1),
    header nav .menu ul,
    header nav .area-acout ul li:nth-child(2) {
        display: none;
    }
    header nav .area-acout ul li:nth-child(3) {
        background-color: rgba(128, 128, 128, 0.188);
    }
}
@media screen  and (max-width: 380px){
    main .info h1 {
        font-size: 2rem;
    }
    main .info p {
        font-size: 15px;
    }
}